.cont{
  width: 90%;
  margin: 0 auto;
  margin-top: 5%;
}

label{
  border: none;
}

.add{
  border: none;
  margin-left: 10%;
}

.btn{
  border: none;
}

.col{
  background-color: rgb(235, 235, 235);
  min-height: 300px;
  margin-left: 15px;
  margin-top: 30px;
}

.modal-footer{
  justify-content: space-between;
}
